<h4><b>Hello </b><%= @item_arr[1]%></h4>
<h5></b>One Iten has been updataed on your  dashboard</b></h5>
 <h4><b>Before</b></h4>
 <p><b>Item_name:-</b> <%=@item_arr[2]%></p>
 <p><b>Item_price:-</b><%=@item_arr[3]%></p>
 <p><b>Item_Quantity:-</b><%=@item_arr[5]%></p>
 <h4>**************************************</h4>
<%item=Item.find(@item_arr[4])%>
 <h4><b>After</b></h4>
 <p><b>Item_name:-</b> <%=item.item_name%></p>
 <p><b>Item_price:-</b><%=item.item_price%></p>
 <p><b>Item_Quantity:-</b><%=item.item_quatity%></p>
 <h5><b>Thanks</b></h5>