<%= render 'navbar'%>

<h1>All Items</h1>




<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "buy_button.css" %>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>


<table>
  <tr>
    <th><p>ItemName</p></th>
    <th>Price</th>
    <th>ItemQuantity</th>
      <th>image</th>
      <th>Action</th>
      


  </tr>
     <%@items.each do |item|%>
         <%stock=item.id%>

         <%s=Stock.find_by(item_id:stock)%>

  <tr>
    <td><%=item.itemName%></td>
    <td><%=item.price%></td>
    <% if s.eql?nil%>
    <td><%=0%></td>
    <%else%>
    <td><%=s.quntity%></td>
    <%end%>
    <%# <td><%= image_tag item.itemImage unless item.itemImage.nil? %> 
   <td><%="no"%></td>
   <td><p><a href="#" class="button">Buy Now</a></p></td>
   

  </tr>
  <%end%>

  </tr>
</table>

</body>
</html>

   <%# <td><% if contact.profile_image.persisted?%>
    <%# <%=image_tag contact.profile_image,style:"width:100px;display:block"%> 
    <%# <%end%>
