<%= render 'navbar'%>

<h1>All Items</h1>




<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "buy_button.css" %>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>


<table>
  <tr>
    <th><p>ItemName</p></th>
    <th>Price</th>
    <th>ItemQuantity</th>
      <th>image</th>
      <th>Action</th>
      


  </tr>
     <%@items.each do |item|%>
         <%stock=item.id%>

         <%s=Stock.find_by(item_id:stock)%>

  <tr>
    <td><%=item.itemName%></td>
    <td><%=item.price%></td>
    <% if s.eql?nil%>
    <%q1=0%>
    <td><%=0%></td>
    <%else%>
     <%q1=s.quntity%>
    <td><%=s.quntity%></td>
    <%end%>
    <%# <td><%= image_tag item.itemImage unless item.itemImage.nil? %> 
   <td><%="no"%></td>
    <td>
    <%if s.quntity.to_i!=0%>
    <a data-toggle="modal" data-id1=<%=item.itemName%>
    data-id2=<%=item.price%>
    data-id3= <%=q1%>
    data-id4=<%=s.id%>
    data-id5=<%= current_user.name%>
    title="Add this item" class="open-AddBookDialog button" 
    href="#addBookDialog">Buy Now</a>
    <%else%>
    <a class=" button" disabled >Not available</a>
    <%end%>
  </td>
   
  </tr>
  <%end%>

  </tr>
</table>

</body>
</html>

 <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="addBookDialog"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
   <div class="modal-content">
 <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Information </h5>
  </div>
    <div class="modal-body">



        <form action="/cinvoices" accept-charset="UTF-8" method="post">
   
         <h6>CustomerName-<input type="text" name="items[customer_name]" id="current_user" ></h6>
         
           <h6>Item_Name:-<input type="button" name="items[itemName]" id="itemName" ></h6>
          <h6>Item_Price:-<input type="button" name="items[price]"  id="price" ></h6>
          <h6>Item_Quantity:-<input type="button"  id="quantity" ></h6>
          <input type="number" name="items[quantity]" value="0" required>
                    <input type="hidden" name="items[item_id]" id="itemId" >


      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        <button type="submit" class="btn btn-primary">Buy_Now</button>
      </div>
           </form>

    </div>
    </div>
    </div>
  </div>
</div>
</div>


<script>
$(document).on("click", ".open-AddBookDialog", function () {
     var itemName = $(this).data('id1');
     var price = $(this).data('id2');
     var quantity = $(this).data('id3');
     var itemId = $(this).data('id4'); 
      var current_user = $(this).data('id5'); 


     $(".modal-body #itemName").val( itemName );
     $(".modal-body #price").val( price );
     $(".modal-body #quantity").val( quantity );
     $(".modal-body #itemId").val( itemId );
     $(".modal-body #current_user").val( current_user );




     
});


</script>