<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
<%= render 'navbar'%>

<table class="table">
 <thead class="thead-dark">
 <h1 ><%= link_to "Add items", new_item_path,class:"btn btn-primary btn-lg" %>
<b>Your Items </b></h1>

  <tr>
    <th scope="col"><p>ItemName</p></th>
    <th scope="col">Price</th>
    <th scope="col">ItemQuantity</th>
      <th scope="col">image</th>
      <th scope="col">Action</th>
  </tr>
   </thead>
    <tbody>
     <%@items.each do |item|%>
         <%stock=item.id%>

         <%s=Stock.find_by(item_id:stock)%>

  <tr>
    <td><b><%=item.itemName%></b></td>
    <td><b><%=item.price%></b></td>
    <% if s.eql?nil%>
    <td><%=0%></td>
    <%else%>
    <td><b><%=s.quntity%></b></td>
    <%end%>
    <td>
    <%if item.itemImage.attached?%>
    <%= image_tag item.itemImage ,style:"width:100px;height:100px"%>
    <%end%>
    </td>

   
   <td><%= link_to "Edit", edit_item_path(item),class:"btn btn-success btn-lg" %>   <%= link_to "Delete", item_path(item), class:"btn btn-danger btn-lg",data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
   

  
  <%end%>
      </tbody>

  </tr>
</table>

</body>
</html>








